.middle{
width: 1170px;
height: 427px;
top: 1044px;
left: 135px;
background-color:#042c54 ;
// border: 2px solid;
padding: 2rem;
margin-left: 3rem;
.gpt8{
    height: 120px;
    // border: 1px solid orange;
    display: flex;
    justify-content: space-between;

}
.possibilities{
    height: 120px;
    // border: 2px solid;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background: linear-gradient(to right,#ba6aef , #660529);
      -webkit-background-clip: text; 
      -webkit-text-fill-color: transparent;
}
.footer{
    height: 150px;
    display: flex;
    justify-content: space-between;
    // border: 2px solid;
}

}